{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block head_title %}
Clients -
{% endblock head_title %}



{% block content %}
<div class="container mt-5">
    <h2 class="display-4 border-bottom">Clients</h2>
    <div class="my-3">
        <a href="{% url 'clients:client-create' %}">Add a Client</a>
    </div>
    <div class="d-flex justify-content-end">
        <div class="my-5 col-lg-4">
            <input type="text"
                name="q"
                class="form-control"
                placeholder="search clients...">
        </div>
    </div>
  
    <ol class="list-group list-group-numbered">

        {% for o in object_list %}
        <li
            class="list-group-item d-flex justify-content-between align-items-start col-lg-6">
            <div class="ms-2 me-auto">
                <a class="text-decoration-none text-dark" href="{{ o.get_absolute_url }}">
                    <div class="fw-bold">{{o}} ({{o.slug|upper}})</div>
                </a>
                <p class="small m-0 p-0">{{o.email|default:""}}</p>
                <p class="small m-0 p-0">{{o.phone|default:""}}</p>
            </div>
            <!-- <span class="badge bg-primary rounded-pill">14</span> -->
        </li>
        {% endfor %}

    </ol>

</div>
{% endblock content %}