{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
Add Client -
{% endblock head_title %}



{% block content %}

<div class="container mt-5">
    <div class="">
        <h2 class="display-4">
            <span class="">
                Add Client
            </span>

        </h2>
        <p class="">
        <form class="col-lg-4"
            action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            </p>
            <div class="">
                <div class="">
                    <button type="submit"
                        class="btn btn-primary">
                        Submit
                    </button>
        </form>

    </div>
</div>
</div>
</div>

{% endblock content %}