{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
{{object}} -
{% endblock head_title %}



{% block content %}

<div class="bg-white dark:bg-gray-800 w-screen mt-8">
    <div class="w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
        <h2
            class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
            <span class="block">
                {{object}} ({{object.title}})
            </span>
            <span class="block text-blue-500">
                {{object.phone}}
            </span>
        </h2>
        <p class="text-xl mt-4 max-w-md mx-auto text-gray-400">
        <form class="w-1/3"
            action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            </p>
            <div class="lg:mt-0 lg:flex-shrink-0">
                <div class="mt-12 inline-flex rounded-md shadow">
                    <button type="submit"
                        class="py-2 px-6  bg-blue-500 hover:bg-blue-600 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg">
                        Submit
                    </button>
        </form>

    </div>
</div>
</div>
</div>

{% endblock content %}