<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
        rel="stylesheet">

    <style>
        body,html{
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <title>

        {% block head_title %}

        {% endblock head_title %}
Crown
    </title>
</head>

<body class="h-full">
<div class="flex">
    {% include 'sidebar.html' %}

    {% block content %}

    {% endblock content %}
</div>
{% include 'message.html' %}

{% include 'footer.html' %}
</body>

</html>