{% extends 'base.html' %}

{% block head_title %}
Dashboard -
{% endblock head_title %}


{% block content %}
<div class="container mx-auto my-8 p-4 flex-auto">
    <h2 class="text-9xl">Dashboard</h2>
    <hr>

    <section class="text-gray-600 bg-gray-200 body-font mt-8 rounded-lg hover:bg-gray-300">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4 text-center">
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2
                        class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
                        2.7K</h2>
                    <p class="leading-relaxed">Users</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2
                        class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
                        1.8K</h2>
                    <p class="leading-relaxed">Subscribes</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2
                        class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
                        35</h2>
                    <p class="leading-relaxed">Downloads</p>
                </div>
                <div class="p-4 sm:w-1/4 w-1/2">
                    <h2
                        class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
                        4</h2>
                    <p class="leading-relaxed">Products</p>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock content %}