{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}

        <li class="page-item">
            <a href="?page=1"
                class="page-link text-dark">first</a>
        </li>

        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}"
                class="page-link text-dark">&laquo;</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link text-dark ">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link text-dark"
                href="?page={{ page_obj.next_page_number }}">&raquo</a></li>
        <li class="page-item"><a class="page-link text-dark"
                href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}